body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.slider {
    width: 1024px;
    margin: 2em auto;
}


.slider-wrapper {
    width: 100%;
    height: 400px;
    position: relative;
}

img {
    position: relative;
}

.slide {
    position: absolute;
    opacity: 0;
    transition: opacity 3s linear;
}

.slider-wrapper > .slide:first-child {
	opacity: 1;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}


/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.effectImage {
    margin: 0;
    padding: 0;
}



